#include <windows.h>
#include "version.rcinc"

#ifndef APP_MSVC_BUILD
1 RT_MANIFEST "app.manifest"
#endif
1 ICON "app.ico"

1 VERSIONINFO
 FILEVERSION APP_FILE_VERSION
 PRODUCTVERSION APP_FILE_VERSION
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Clipboard Exchange contributors\0"
            VALUE "FileDescription", "Clipboard Exchange native Windows client\0"
            VALUE "FileVersion", APP_VERSION_STRING "\0"
            VALUE "InternalName", "clipboard-exchange\0"
            VALUE "LegalCopyright", "Clipboard Exchange contributors\0"
            VALUE "OriginalFilename", "clipboard-exchange.exe\0"
            VALUE "ProductName", "Clipboard Exchange\0"
            VALUE "ProductVersion", APP_VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
